{% extends 'mainmenu/base.html' %}

{% load static %}

{% block title %}
Game_server
{% endblock %}

{% block head %}
  <nav class="navbar navbar-dark bg-inverse bg-inverse-custom navbar-fixed-top">
      <div class="container">
        <a>
          <a class="registration btn btn-secondary-outline btn-snake" href = "/registration">Registrate</a>
          <a class="login btn btn-secondary-outline btn-snake" href = "/login">Login</a>
        </a>
        <a class="navbar-brand" href="#">
          <img src={% static 'mainmenu/images/logo.jpg' %} height="40" width="40">
        </a>
        <div id="collapsingNavbar" class="collapse navbar-toggleable-custom" role="tabpanel" aria-labelledby="collapsingNavbar">
          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item nav-item-toggable">
              <a class="nav-link" href="https://github.com/alx1115/Game_server" target="_blank">GitHub</a>
            </li>
            <li class="nav-item dropdown hidden-sm-down textselect-off">
              <a class="nav-link dropdown-toggle nav-dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src={% static 'mainmenu/images/snake_logo.jpg' %} height="40" width="40" alt="Avatar" class="img-circle">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}

{% block snake %}
<a class="btn btn-secondary-outline btn-snake" href="/snake" aria-haspopup="true" aria-expanded="false">Snake</a>
{% endblock %}