body {
    height: 100%;
    margin: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play_ground{
    border: 2px solid rgb(0, 255, 98);
    align-items:"center";
}
.snake{
    align-items:"center";
}
.restart{
    color:white;
    padding-right: 30px;
}
.registration{
    color:red;
}
.nav-link{
    padding-bottom: 100px;
}
